/* Set the background color for the whole page */
body {
    background-color: #f2f2f2;
    margin-top: 70px;
}


  
  /* Style the header */
  .header {
    background-image: url("images/databg2.jpg");
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
  
  .header h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  /* Style the navbar */
  .navbar {
    background-color: #fff;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
  }
  
  .navbar-brand {
    font-size: 2rem;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0) !important;
    font-family: Roboto;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .nav-item {
    margin-right: 1rem;
  }
  
  /* Style the about section */
  .about {
    background-color: #fff;
    padding: 2rem 0;
  }
  
  .aboutme {
    padding-top: 25px;
    font-size: 2.5rem;
  }

  .box2{
    margin-top: 15px;
  }
 .profilephoto{
    padding-left: 5%;
    padding-top: 10px;
 } 

 .writeup{
    font-weight: 500;
    width: 70%;
    margin-left: 30%;
    text-align:justify;
 }

 .profilephoto img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    float: left;
 }



 
  /* Style the projects section */
  .projects {
    background-color: #f9f9f9;
    padding: 4rem 0;
  }
  
  .projects h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .card1 {
    border: none;
    margin-bottom: 2rem;
  }
  
  .card1-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card1-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .card1-text {
    margin-bottom: 1rem;
  }
  


 /** wallet **/

.wallet {
    padding: 15px 10px 0 30px;
    background-color: #fff;
}

.wallet h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    padding-left: 9%;
}

.wallet_box {
    background: #fff;
    margin-bottom: 100px;
    transition: ease-in all 0.5s;
    padding: 25px 15px 50px 15px;
}

.wallet_box img {
    width: 100px;
    height: 100px;
    margin-left: 50%;
    float: left;
 }

.wallet_box h3 {
    color: #0c0b0b;
    font-size: 22px;
    text-transform: uppercase;
    transition: ease-in all 0.5s;
    font-weight: bold;
    line-height: 22px;
    padding: 20px 0 20px 0;
   
}

.wallet_box p {
    color: #191a1a;
    font-size: 16px;
    line-height: 38px;
    transition: ease-in all 0.5s;
}

/* #wa_hover:hover.wallet_box {
    background: #1b1b1b;
    transition: ease-in all 0.5s;
} */

/* #wa_hover:hover i img {
    width: 125px;
    filter: invert();
    transition: ease-in all 0.5s;
} */

#wa_hover:hover.wallet_box h3 {
    color: #fff;
    transition: ease-in all 0.5s;
}

#wa_hover:hover.wallet_box p {
    color: #fff;
    transition: ease-in all 0.5s;
}

/* 
.hover-text {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    padding: 10px;
    background-color:transparent;
    color: #000000;
    margin-left: 50px;
  }
  
  i:hover .hover-text {
    display: block;
    color: black;
    text-align: center;
    padding-left: 10px;
    
  } */
  

/** end wallet **/


/* Style the contact section */
  .contact {
    background-color: #f9f9f9;
    padding: 4rem 0;
  }
  
  .contact h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-control {
    font-size: 1.2rem;
  }
  
  .form-control:focus {
    box-shadow: none;
  }
  
  /* Style the footer */
  .footer {
    background-color: #ddd;
    padding: 2rem 0;
    text-align: center;
    font-size: 1.2rem;
  }
  