/* Set the background color for the whole page */
body {
    background-color: #f2f2f2;
    margin-top: 70px;
}


  
  /* Style the header */
  .header {
    background-image: url("images/databg2.jpg");
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
  
  .header h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  /* Style the navbar */
  .navbar {
    background-color: #fff;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
  }
  
  .navbar-brand {
    font-size: 2rem;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0) !important;
    font-family: Roboto;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .nav-item {
    margin-right: 1rem;
  }
  
  /* Style the about section */
  .about {
    background-color: #f9f9f9;
    height: 400px;
    padding: 2rem 0;
  }
  
  .aboutme {
    padding-top: 25px;
    font-size: 2.5rem;
  }

  .box2{
    margin-top: 75px;
    margin-bottom: 25px;
  }

 .profilephoto{
    padding-left: 5%;
    padding-top: 10px;
 } 

 .writeup{
    font-weight: 500;
    width: 70%;
    margin-left: 30%;
    text-align:justify;
 }

 .profilephoto img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    float: left;
 }



 
  /* Style the projects section */
  .projects {
    background-color: #f9f9f9;
    padding: 4rem 0;
  }
  
  .projects h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .card1 {
    border: none;
    margin-bottom: 2rem;
  }
  
  .card1-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card1-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .card1-text {
    margin-bottom: 1rem;
  }
  


 /** wallet **/

.wallet {
    padding: 55px 0px 0 30px;
    padding-left: 165px;
    background-color: #fff;
}

.wallet h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    padding-left: 9%;
}

.wallet_box {
    background: #fff;
    margin-bottom: 100px;
    transition: ease-in all 0.5s;
    padding: 25px 15px 50px 15px;
}

.wallet_box img {
    width: 100px;
    height: 100px;
    margin-left: 50%;
    float: left;
 }

.wallet_box h3 {
    color: #0c0b0b;
    font-size: 22px;
    text-transform: uppercase;
    transition: ease-in all 0.5s;
    font-weight: bold;
    line-height: 22px;
    padding: 20px 0 20px 0;
   
}

.scroll-container {
  height: 200px;
  overflow-x: auto;
  }
  
  .row.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
  width: 2000px; /* adjust as needed */
  }
  
  .col-lg-3.col-sm-6 {
  flex: 0 0 auto;
  width: 16.66666667%; /* 100/6 */
  padding-right: 15px;
  padding-left: 15px;
  }
  
  

.wallet_box p {
    color: #191a1a;
    font-size: 16px;
    line-height: 38px;
    transition: ease-in all 0.5s;
}

/* #wa_hover:hover.wallet_box {
    background: #1b1b1b;
    transition: ease-in all 0.5s;
} */

/* #wa_hover:hover i img {
    width: 125px;
    filter: invert();
    transition: ease-in all 0.5s;
} */

#wa_hover:hover.wallet_box h3 {
    color: #fff;
    transition: ease-in all 0.5s;
}

#wa_hover:hover.wallet_box p {
    color: #fff;
    transition: ease-in all 0.5s;
}

/* 
.hover-text {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    padding: 10px;
    background-color:transparent;
    color: #000000;
    margin-left: 50px;
  }
  
  i:hover .hover-text {
    display: block;
    color: black;
    text-align: center;
    padding-left: 10px;
    
  } */
  

/** end wallet **/


/* Style the contact section */
  .contact {
    background-color: #f9f9f9;
    padding: 1rem 0;
    width: 100%;
  }
  
  .contact h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    padding-left: 2px;
  }
  
  .form-group {
    width: 300px;
    margin-bottom: 1.5em;
  }
  
  .form-control {
    font-size: 1.2rem;
  }
  
  .form-control:focus {
    box-shadow:#0c0b0b;
  }
  
  /* Style the footer */
  .footer {
    width: 100%;
    background-color: #ddd;
    padding:0;
    text-align:center;
    font-size: 1.2rem;
  }
  /** contact section **/

.contact {
  background: #fff;
  padding-top: 90px;
}

.contact .titlepage {
  text-align: left;
  padding-bottom: 60px;
}

.main_form {
  background: #fff;
  border-radius: 20px;
  max-width: 426px;
  width: 100%;
  float: right;
}

.main_form .contactus {
  border: #cce9fe solid 1px;
  border-radius: 10px;
  margin-bottom: 25px;
  width: 100%;
  height: 60px;
  background: transparent;
  color: #8f8d8d;
  font-size: 18px;
  font-weight: normal;
  padding: 0 15px;
}

.main_form .contactusmess {
  border: #cce9fe solid 1px;
  border-radius: 10px;
  padding: 0 15px;
  margin-bottom: 25px;
  width: 100%;
  padding-top: 9px;
  padding-bottom: 14px;
  background: transparent;
  color: #8f8d8d;
  font-size: 18px;
  font-weight: normal;
  height: 168px;
}

.send_btn {
  background: #0f98f8;
  font-weight: 500;
  font-size: 18px;
  width: 198px;
  color: #fff;
  height: 57px;
  margin-top: 20px !important;
  transition: ease-in all 0.5s;
  text-transform: uppercase;
  border-radius: 30px;
  margin: 0 auto;
  display: block;
}

.send_btn:hover {
  background: #202121;
  transition: ease-in all 0.5s;
}

#request *::placeholder {
  color: #959596;
  opacity: 1;
}

.co_tru {
  padding-right: 50px;
}

.co_tru figure {
  margin: 60;
}

.co_tru figure img {
  width: 70%;
  margin-left: 200px;
}


/** end contact section **/
